{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Dawit Belay</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/dd.png' %}" >
					<hr>
					<h4>Hi I'm Dawit!</h4>
					<p>Anchorman in Amhara Media Corporation</p>
					<p>studied Cotom Engineering in AASTU(Class of 2019)</p>
					<p>I'm Artisan</p>
				</div>	
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">



					<h4>Dawit Belay, Anchorman</h4>
					<p>Nationality: Ethiopian</p> 
					<p>Gender Male (+251) 924473061</p>

					<h3>Find me on Telegram, instagram, Facebook and Tiktok</h3>

					<a target="_blank" href="https://t.me/Eldavid1">Telegram: @Eldavid1</a>
					
					<br>
					<a target="_blank" href="https://www.facebook.com/dawit.belay.7186">Facebook: David-up</a>
					<br>

					<a target="_blank" href="https://www.instagram.com/p/CMMirBPAw0L/?utm_medium=share_sheet">Instagram: David</a>
					
					<br>
					<a target="_blank" href="https://vm.tiktok.com/ZMd7DfagG/">Tiktok: DavidB</a>





					

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/telegram.png' %}"></li>
						<li><img class="social" src="{% static 'images/gmail.png' %}"></li>



					</ul>


				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">


					<h5>My Work Experience</h5>
					<hr>	

					<p>I'm Artisan and spend my last two years on this profession.</p>
					<p>I do decorative arts(metal work, wood turning)</p>
					<p>I usually do pin and thread art (string art) and am virtuoso</p>





					
					


				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>More About Me</h5>
					<hr>
					<p>I am Dawit Belay but my friends prefer to call me David-up </p>
					<p>currently liven in Bahir Dar specifically named Efrata in kebele 14</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>SOCIAL AND POLITICAL ACTIVITIES</h5>
					<hr>
					<p>I am an active member of Rotaract club which bring together people ages 18 and older to exchange ideas with leaders in the community, develop leadership and professional skills, and have fun through service</p>

				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">

					




					
				</div>
			</div>
		</div>
		<br>
	</div>







</body>
</html>


















